@namespace JournalApp
@page "/settings"
@implements IDisposable
@inherits JaPage
@inject ILogger<SettingsPage> logger
@inject AppDataUIService AppDataUIService
@inject IFilePicker FilePicker

@if (_busy)
{
    @* TODO: Replace with separate page so we can change state of inline fields and have it updated properly in settings *@
    <div class="d-flex justify-center">
        <MudProgressCircular Color="Color.Primary" Style="height:33vw;width:33vw;margin-top:10vh;" Indeterminate />
    </div>
}
else
{
    <header class="page-header">
        <div class="page-toolbar">
            <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" Title="Back" OnClick="Close" />

            <MudText Typo="Typo.h6">Settings</MudText>
        </div>
    </header>

    <main class="page-body">
        <div class="settings-group-list">
            <section class="settings-group">
                <MudText Typo="Typo.h4">Personalization</MudText>

                <MudRadioGroup T="AppTheme" Value="PreferenceService.SelectedAppTheme" ValueChanged="v => PreferenceService.SelectedAppTheme = v">
                    <MudRadio Value="@(AppTheme.Unspecified)">System</MudRadio>
                    <MudRadio Value="@(AppTheme.Light)">Light</MudRadio>
                    <MudRadio Value="@(AppTheme.Dark)">Dark</MudRadio>
                </MudRadioGroup>

                <MudCheckBox @bind-Value="PreferenceService.HideNotes">Hide "Today's notes"</MudCheckBox>

                <MudButton StartIcon="@Icons.Material.Filled.HealthAndSafety" OnClick="SetUpSafetyPlan" Variant="Variant.Outlined" FullWidth>Set Up Safety Plan</MudButton>
            </section>

            <section class="settings-group">
                <MudText Typo="Typo.h4">Data & backups</MudText>

                <MudButton StartIcon="@Icons.Material.Filled.Upload" OnClick="StartExport" Variant="Variant.Outlined" FullWidth>Export</MudButton>

                <MudButton StartIcon="@Icons.Material.Filled.Download" OnClick="PickAndStartImport" Variant="Variant.Outlined" FullWidth>Import</MudButton>
            </section>

            <section class="settings-group">
                <MudText Typo="Typo.h4">About</MudText>

                <MudCopyText Text="@($"JournalApp {ThisAssembly.AssemblyInformationalVersion}")" />
                <MudCopyText Text="@($"{DeviceInfo.Current.Platform} {DeviceInfo.Current.VersionString}")" />

                <MudLink Href="@(Feedback.GenerateLink())">Send feedback by email</MudLink>
                <MudLink Href="https://github.com/danielchalmers/JournalApp/issues">Send feedback on GitHub</MudLink>
                <MudLink Href="https://play.google.com/store/apps/details?id=com.danielchalmers.journalapp">View on Play Store</MudLink>
                <MudLink Href="https://github.com/danielchalmers/JournalApp">View source code</MudLink>
            </section>

            <section class="settings-group">
                <MudText Typo="Typo.h4">Credits</MudText>

                <MudTextField T="string" Text="@CreditsText" Typo="Typo.body2" ReadOnly Underline="false"
                              AutoGrow MaxLines="_creditsExpanded ? 0 : 5" FullWidth />

                <MudLink OnClick="() => _creditsExpanded = true">Expand credits</MudLink>
            </section>
        </div>
    </main>
}

@code {
    bool _busy;
    bool _creditsExpanded;

    public string CreditsText { get; private set; }

    protected override async Task OnInitializedAsync()
    {
        logger.LogDebug("Initializing asynchronously");
        CreditsText = await GetCreditsText();

        await base.OnInitializedAsync();

        KeyEventService.Entered(Close);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            if (App.ActivatedFilePath != null)
            {
                await StartImport();
                StateHasChanged();
            }
        }
    }

    void SelectedAppThemeChanged(AppTheme newTheme)
    {
        PreferenceService.SelectedAppTheme = newTheme;
    }

    void SetUpSafetyPlan()
    {
        logger.LogInformation("Setting up Safety Plan");
        NavigationManager.NavigateTo($"/safetyplan", false, true);
    }

    async Task PickAndStartImport()
    {
        if (DeviceInfo.Current.Platform == DevicePlatform.WinUI)
        {
            logger.LogInformation("Picking import file");

            var pickResult = await FilePicker.PickAsync();

            if (pickResult == null)
                return;

            App.ActivatedFilePath = pickResult.FullPath;

            await StartImport();
        }
        else
        {
            logger.LogInformation("Explaining how to import");
            await DialogService.ShowCustomMessageBox("Find the backup in your files app and click it or choose Open With -> JournalApp. You can also share the file directly from another app.");
        }
    }

    async Task StartImport()
    {
        try
        {
            _busy = true;
            StateHasChanged();

            var path = App.ActivatedFilePath;

            await AppDataUIService.StartImportWizard(DialogService, App.ActivatedFilePath);
        }
        finally
        {
            App.ActivatedFilePath = null;
            _busy = false;
        }
    }

    async Task StartExport()
    {
        try
        {
            _busy = true;
            StateHasChanged();

            await AppDataUIService.StartExportWizard(DialogService);
        }
        finally
        {
            _busy = false;
        }
    }

    public async Task<string> GetCreditsText()
    {
        logger.LogDebug("Reading credits file");

        using var stream = await FileSystem.OpenAppPackageFileAsync("Credits.txt");
        using var reader = new StreamReader(stream);
        return reader.ReadToEnd();
    }

    void Close()
    {
        logger.LogInformation("Going to index");
        NavigationManager.NavigateTo("/", false, true);
    }

    protected override void Dispose(bool disposing)
    {
        base.Dispose(disposing);
        logger.LogDebug("Disposing");

        KeyEventService.Exited();
    }
}
