@namespace JournalApp
@inject IDialogService DialogService

@if (DataPoint.DataType == DataType.Mood)
{
	<MudMenu>
		<ActivatorContent>
			<MudText Typo="Typo.h4">@(DataPoint.Mood ?? "🤔")</MudText>
			</ActivatorContent>

			<ChildContent>
				@foreach (var mood in DataPoint.Moods)
			{
				<MudMenuItem OnClick="@(() => DataPoint.Mood = mood)">
					<MudText Typo="Typo.h4">@mood</MudText>
				</MudMenuItem>
			}
		</ChildContent>
	</MudMenu>
}
else if (DataPoint.DataType == DataType.Sleep)
{
	<div class="d-flex align-center flex-grow-1" style="gap:1em">
		<MudIconButton Icon="@Icons.Material.Outlined.Remove" OnClick="() => DataPoint.SleepHours -= 0.5m" />
		<MudSlider @bind-Value="DataPoint.SleepHours" Variant="Variant.Filled" Min="0" Max="24" Step="0.5m" Size="Size.Large" Immediate="true" />
		<MudText Typo="Typo.caption">@((DataPoint.SleepHours ?? 0).ToString("00.0"))</MudText>
		<MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="() => DataPoint.SleepHours += 0.5m" />
	</div>
}
else if (DataPoint.DataType == DataType.Scale)
{
	<MudRating @bind-SelectedValue="DataPoint.ScaleIndex" Size="Size.Large" FullIcon="@Icons.Material.Filled.Circle" EmptyIcon="@Icons.Material.Outlined.Circle" Color="Color.Primary" />
}
else if (DataPoint.DataType == DataType.Bool)
{
	<ButtonGroupCheckBox @bind-SelectedValue="DataPoint.Bool" />
}
else if (DataPoint.DataType == DataType.Number)
{
	<MudNumericField @bind-Value="DataPoint.Number" Class="mt-n4" Immediate="true" HideSpinButtons="true" MaxLength="10" />
}
else if (DataPoint.DataType == DataType.Text)
{
	<MudTextField @bind-Value="DataPoint.Text" Class="mt-n4" Immediate="true" />
}
else if (DataPoint.DataType == DataType.Note)
{
	<div class="d-flex flex-column flex-grow-1">
		<MudTextField @bind-Value="DataPoint.Text" Lines="4" Placeholder="What's on your mind?" Label="@(DataPoint.CreatedAt.ToString(DateOnly.FromDateTime(DataPoint.CreatedAt.Date) == DataPoint.Day.Date ? "h:mm tt" : "M/d/yy h:mm tt"))" Immediate="true" />

		<MudLink OnClick="EditTextInDialog">Edit note...</MudLink>
	</div>
}
else if (DataPoint.DataType == DataType.Medication)
{
	<div class="d-flex flex-row flex-wrap flex-grow-1 align-center justify-center" style="gap:1em">
		<MudText Style="min-width:4em" Align="Align.Center">@($"{DataPoint.Dose:0}{DataPoint.Unit}")</MudText>

			<ButtonGroupCheckBox @bind-SelectedValue="DataPoint.Bool" />
		</div>
}

@code {
	[Parameter]
	public DataPoint DataPoint { get; set; }

	async Task EditTextInDialog()
	{
		await EditTextDialog.ShowDialog(DialogService, DataPoint);
	}
}