@namespace JournalApp
@using System.Text
@inject IDialogService DialogService

@if (Point.Type == PointType.Mood)
{
	<MudMenu>
		<ActivatorContent>
			<MudText Typo="Typo.h4">@(Point.Mood ?? "🤔")</MudText>
		</ActivatorContent>

		<ChildContent>
			@foreach (var mood in DataPoint.Moods)
			{
				<MudMenuItem OnClick="@(() => Point.Mood = mood)" OnAction="@(() => Point.Mood = mood)">
					<MudText Typo="Typo.h4">@mood</MudText>
				</MudMenuItem>
			}
		</ChildContent>
	</MudMenu>
}
else if (Point.Type == PointType.Sleep)
{
	<div class="d-flex align-center flex-grow-1" style="gap:1em">
		<MudIconButton Icon="@Icons.Material.Filled.Remove" OnClick="DecrementSleep" Disabled="@(Point.SleepHours <= 0)" Size="Size.Small" />
		<MudSlider @bind-Value="Point.SleepHours" Variant="Variant.Filled" Min="0" Max="24" Step="0.5m" Size="Size.Large" Immediate />
		<MudText Typo="Typo.caption">@((Point.SleepHours ?? 0).ToString("00.0"))</MudText>
		<MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="IncrementSleep" Disabled="@(Point.SleepHours >= 24)" Size="Size.Small" />
	</div>
}
else if (Point.Type == PointType.Scale)
{
	<MudRating @bind-SelectedValue="ScaleIndexForMudRating" FullIcon="@Icons.Material.Filled.Circle" EmptyIcon="@Icons.Material.Outlined.Circle" Color="Color.Primary" />
}
else if (Point.Type == PointType.LowToHigh)
{
	<MudRadioButtonGroup @bind-SelectedOption="Point.ScaleIndex">
		<MudRadioButton T="Nullable<Int32>" Color="Color.Primary" Size="Size.Small" Option="0"><MudText Typo="Typo.subtitle2">None</MudText></MudRadioButton>
		<MudRadioButton T="Nullable<Int32>" Color="Color.Primary" Size="Size.Small" Option="1"><MudText Typo="Typo.subtitle2">Low</MudText></MudRadioButton>
		<MudRadioButton T="Nullable<Int32>" Color="Color.Primary" Size="Size.Small" Option="3"><MudText Typo="Typo.subtitle2">Medium</MudText></MudRadioButton>
		<MudRadioButton T="Nullable<Int32>" Color="Color.Primary" Size="Size.Small" Option="5"><MudText Typo="Typo.subtitle2">High</MudText></MudRadioButton>
	</MudRadioButtonGroup>
}
else if (Point.Type == PointType.MildToSevere)
{
	<MudRadioButtonGroup @bind-SelectedOption="Point.ScaleIndex">
		<MudRadioButton T="Nullable<Int32>" Color="Color.Primary" Size="Size.Small" Option="0"><MudText Typo="Typo.subtitle2">None</MudText></MudRadioButton>
		<MudRadioButton T="Nullable<Int32>" Color="Color.Primary" Size="Size.Small" Option="1"><MudText Typo="Typo.subtitle2">Mild</MudText></MudRadioButton>
		<MudRadioButton T="Nullable<Int32>" Color="Color.Primary" Size="Size.Small" Option="3"><MudText Typo="Typo.subtitle2">Moderate</MudText></MudRadioButton>
		<MudRadioButton T="Nullable<Int32>" Color="Color.Primary" Size="Size.Small" Option="5"><MudText Typo="Typo.subtitle2">Severe</MudText></MudRadioButton>
	</MudRadioButtonGroup>
}
else if (Point.Type == PointType.Bool)
{
	<ButtonGroupCheckBox @bind-SelectedValue="Point.Bool" />
}
else if (Point.Type == PointType.Number)
{
	<MudNumericField @bind-Value="Point.Number" Immediate HideSpinButtons MaxLength="9" />
}
else if (Point.Type == PointType.Text)
{
	<MudTextField @bind-Value="Point.Text" Immediate />
}
else if (Point.Type == PointType.Note)
{
	<div class="d-flex flex-column flex-grow-1">
		<MudTextField @bind-Value="Point.Text"
					  Placeholder="What's on your mind?"
					  Label="@(Point.CreatedAt.ToString(DateOnly.FromDateTime(Point.CreatedAt.Date) == Point.Day.Date ? "h:mm tt" : "M/d/yy h:mm tt"))"
					  Immediate ReadOnly DisableUnderLine
					  AutoGrow Lines="3" MaxLines="10" />

		<MudLink OnClick="EditTextInDialog">Edit note...</MudLink>
	</div>
}
else if (Point.Type == PointType.Medication)
{
	<div class="d-flex flex-grow-1 justify-space-between align-center" style="gap: 0.5em;">
		<ButtonGroupCheckBox @bind-SelectedValue="Point.Bool" />

		<MudLink OnClick="EditDose">Edit</MudLink>
	</div>
}

@code {
	[Parameter]
	public DataPoint Point { get; set; }

	[Parameter]
	public EventCallback DialogClosed { get; set; }

	public int ScaleIndexForMudRating
	{
		get => Point.ScaleIndex ?? 0;
		set => Point.ScaleIndex = value == 0 ? null : value;
	}

	void DecrementSleep()
	{
		Point.SleepHours = Math.Max(0m, (Point.SleepHours ?? 0) - 0.5m);
	}

	void IncrementSleep()
	{
		Point.SleepHours = Math.Min(24m, (Point.SleepHours ?? 0) + 0.5m);
	}

	async Task EditTextInDialog()
	{
		await EditTextDialog.ShowDialog(DialogService, Point);
		await DialogClosed.InvokeAsync();
	}

	async Task EditDose()
	{
		await EditDoseDialog.ShowDialog(DialogService, Point);
		await DialogClosed.InvokeAsync();
	}

	public static string GetHeaderText(DataPoint point)
	{
		var category = point.Category;
		var sb = new StringBuilder();

		sb.Append(category.Name);

		@if (point.Type == PointType.Medication)
		{
			sb.Append($" {category.MedicationDose:0.##}{category.MedicationUnit}");

			if ((point.MedicationDose != category.MedicationDose || point.MedicationUnit != category.MedicationUnit) && point.MedicationDose != null && point.MedicationUnit != null)
			{
				sb.Append($" - {point.MedicationDose:0.##}{point.MedicationUnit}");
			}
		}

		sb.Append(":");

		return sb.ToString();
	}
}