@namespace JournalApp
@inject IDialogService DialogService

@if (DataPoint.DataType == DataType.Mood)
{
	<MudMenu>
		<ActivatorContent>
			<MudText Typo="Typo.h4">@(DataPoint.Mood ?? "🤔")</MudText>
		</ActivatorContent>

		<ChildContent>
			@foreach (var mood in DataPoint.Moods)
			{
				<MudMenuItem OnClick="@(() => DataPoint.Mood = mood)">
					<MudText Typo="Typo.h4">@mood</MudText>
				</MudMenuItem>
			}
		</ChildContent>
	</MudMenu>
}
else if (DataPoint.DataType == DataType.Sleep)
{
	<div class="d-flex align-center flex-grow-1 gap-4">
		<MudSlider @bind-Value="DataPoint.SleepHours" Variant="Variant.Filled" Min="0" Max="24" Step="0.5m" Size="Size.Large" />
		<MudText Typo="Typo.caption">@((DataPoint.SleepHours ?? 0).ToString("00.0"))</MudText>
	</div>
}
else if (DataPoint.DataType == DataType.Scale)
{
	<MudRating @bind-SelectedValue="DataPoint.ScaleIndex" Size="Size.Large" FullIcon="@Icons.Material.Filled.Circle" EmptyIcon="@Icons.Material.Outlined.Circle" Color="Color.Primary" />
}
else if (DataPoint.DataType == DataType.Bool)
{
	<ButtonGroupCheckBox @bind-SelectedValue="DataPoint.Bool" />
}
else if (DataPoint.DataType == DataType.Number)
{
	<MudNumericField @bind-Value="DataPoint.Number" HideSpinButtons="true" Class="mt-n4" />
}
else if (DataPoint.DataType == DataType.Text)
{
	<MudTextField @bind-Value="DataPoint.Text" />
}
else if (DataPoint.DataType == DataType.Note)
{
	<div class="d-flex flex-column flex-grow-1 gap-2">
		<MudTextField @bind-Value="DataPoint.Text" Lines="4" Placeholder="What's on your mind?" Label="@(DataPoint.CreatedAt.ToString("h:mm tt"))" />

		<MudLink OnClick="EditTextInDialog">Edit note...</MudLink>
	</div>
}
else if (DataPoint.DataType == DataType.Medication)
{
	<div class="d-flex flex-row flex-grow-1 align-center">
		<MudText Class="ml-n2 mr-4">@DataPoint.Dose@DataPoint.Text</MudText>

		<ButtonGroupCheckBox @bind-SelectedValue="DataPoint.Bool" />
	</div>
}

@code {
	[Parameter]
	public DataPoint DataPoint { get; set; }

	async Task EditTextInDialog()
	{
		await EditTextDialog.ShowDialog(DialogService, DataPoint);
	}
}