@namespace JournalApp
@page "/"
@inherits LayoutComponentBase
@inject ApplicationDbContext db;

<Layout Style="height:100%">
	<Header Id="main-header">
		<Row>
			<Col Flex=@("none")>
			<span style="color: #512BD4">@ThisAssembly.AssemblyTitle 🙂</span>
			</Col>

			<Col Flex=@("auto") />

			<Col Flex=@("none")>
			<div>
				<Dropdown Placement="@Placement.TopRight">
					<ChildContent>
						<Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Plus" />
					</ChildContent>

					<Overlay>
						<Menu>
							<MenuItem Icon="@IconType.Outline.FileAdd" OnClick="@(() => NewNote())">
								<span> New note</span>
							</MenuItem>
						</Menu>
					</Overlay>
				</Dropdown>
			</div>
			</Col>
		</Row>
	</Header>

	<Content Id="main-body">
		<AntList Id="main-timeline" DataSource="@db.Entries" Grid="TimelineGridType">
			@if (!@context.IsDeleted)
			{
				<ListItem>
					<EntryView Model="@context" />
				</ListItem>
			}
		</AntList>
	</Content>
</Layout>

<AntContainer />

@code {
	ListGridType TimelineGridType = new()
		{
			Gutter = 8,
			Xs = 1,
			Sm = 2,
			Md = 2,
			Lg = 3,
			Xl = 3,
			Xxl = 3,
		};

	void NewNote()
	{
		db.Entries.Add(new() { Date = DateTime.Now });
		db.SaveChanges();
	}
}