@namespace JournalApp
@page "/"
@inject ApplicationDbContext db;

@*TODO: DynamicComponent ??*@
<AntList DataSource="@db.Entries">
	<Header>
		<Affix OffsetTop="10">
			<div>
				Your journal
				<Button Type="@ButtonType.Primary" Icon="@IconType.Outline.FileAdd" Size="small" />
			</div>
		</Affix>
	</Header>
	<ChildContent>
		@if (@context.GetType() == typeof(Note))
		{
			<ListItem>
				<NoteCard Note="@((Note)context)" />
			</ListItem>
		}
		else
		{
			<ListItem>
				<p>@(context.Date.ToString())</p>
			</ListItem>
		}
	</ChildContent>
	<Footer>
		<div>
			<Dropdown Placement="@Placement.TopRight">
				<Overlay>
					<Menu>
						<MenuItem Title="icon New note" />
					</Menu>
				</Overlay>
				<ChildContent>
					<Button>TopRight</Button>
				</ChildContent>
			</Dropdown>
			You've reached the end <BackTop />
		</div>
	</Footer>
</AntList>

@code {
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
	}
}