@namespace JournalApp
@page "/"
@inherits LayoutComponentBase
@inject ApplicationDbContext db
@inject ISnackbar SnackbarService
@inject IDialogService DialogService
@inject IScrollManager ScrollManager

<MudThemeProvider Theme="AppTheme" IsDarkMode="true" />
<MudDialogProvider MaxWidth="MaxWidth.Large"
				   NoHeader="false"
				   CloseButton="false"
				   CloseOnEscapeKey="true"
				   Position="DialogPosition.Center" />
<MudSnackbarProvider />

<div id="main-header">
	<MudAppBar Color="Color.Primary" Fixed="false" Dense>
		<MudButton OnClick="ScrollToTop" DisableRipple Variant="Variant.Text">
				<MudText Typo="Typo.h6">🙂 @ThisAssembly.AssemblyTitle BETA</MudText>
			</MudButton>

			<MudSpacer />

			<MudMenu Icon="@Icons.Material.Filled.MoreVert" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.BottomLeft">
				<MudMenuItem OnClick="ManageCategories">Manage categories...</MudMenuItem>
				<MudMenuItem OnClick="ManageMedications">Manage medications...</MudMenuItem>
				<MudMenuItem OnClick="@(() => AppInfo.Current.ShowSettingsUI())">System settings...</MudMenuItem>
				<MudMenuItem Disabled="true">v@(ThisAssembly.AssemblyFileVersion)</MudMenuItem>
			</MudMenu>
		</MudAppBar>

		<div class="d-flex justify-center align-center">
			<MudIconButton Icon="@Icons.Material.Filled.ArrowBackIos" OnClick="PreviousDay" Disabled="@(_day.Date.DayNumber <= 1)" />

			<div id="day-title">
				<MudButton OnClick="ShowMoodGrid">
					<MudText Typo="Typo.h5" Align="Align.Center" GutterBottom="false">@_day.Date.ToString("ddd, MMM d")</MudText>
				</MudButton>
			</div>

			<MudIconButton Icon="@Icons.Material.Filled.ArrowForwardIos" OnClick="NextDay" Disabled="@(_day.Date > DateOnly.FromDateTime(DateTime.Now))" />
		</div>
	</div>

	<div id="main-body">
		<MudStack id="main-timeline">
			@foreach (var group in db.Categories.GroupBy(x => x.Group))
		{
			<div class="data-point-group">
				@if (!string.IsNullOrEmpty(group.Key))
				{
					<div class="data-point-group-header">
						@if (group.Key == "Medications")
						{
							<MudText Typo="Typo.h5">Medications taken</MudText>
						}
						else if (group.Key == "Notes")
						{
							<MudText Typo="Typo.h5">Today's notes</MudText>
						}
					</div>
				}

				@foreach (var category in group.Where(x => x.Enabled).OrderBy(x => x.Index).ThenBy(x => x.Name))
				{
					@foreach (var point in category.DataPoints.Where(x => x.Day == _day && !x.IsDeleted))
					{
						<div class="data-point-container">
							@if (!string.IsNullOrEmpty(category.Name))
							{
								<div class="data-point-header">
									<MudText>@category.Name</MudText>

									@if (point.DataType == DataType.Medication)
									{
										<MudText>&NonBreakingSpace;@($"{category.MedicationDose:0.##}{category.MedicationUnit}")</MudText>

										if ((point.MedicationDose != category.MedicationDose || point.MedicationUnit != category.MedicationUnit) && point.MedicationDose != null && point.MedicationUnit != null)
										{
											<MudText>&NonBreakingSpace;@($"- {point.MedicationDose:0.##}{point.MedicationUnit}")</MudText>
										}
									}

									<MudText>:</MudText>
								</div>
							}

							@if (!category.SingleLine)
							{
								<div class="break-flex-column" />
							}

							<div class="data-point-view">
								<DataPointView DataPoint="point" DialogClosed="(_) => StateHasChanged()" />
							</div>
						</div>
					}
				}

				<div class="data-point-group-footer">
					@if (group.Key == null)
					{
						<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Category" OnClick="ManageCategories" FullWidth>Manage categories</MudButton>
					}
					else if (group.Key == "Medications")
					{
						<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Medication" OnClick="ManageMedications" FullWidth>Manage medications</MudButton>
					}
					else if (group.Key == "Notes")
					{
						<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Comment" OnClick="NewNote" FullWidth>New note</MudButton>
					}
				</div>
			</div>
		}
	</MudStack>
</div>

@code {
	Day _day;
	DateTimeOffset _stoppedDate;
	MudMenu datePickerMenu;

	MudTheme AppTheme { get; } = new()
		{
			PaletteDark = new PaletteDark() { TextDisabled = "#ffffffb2" },
		};

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		await SetDay(await db.GetDay(DateTime.Now));

		// https://learn.microsoft.com/en-us/dotnet/maui/fundamentals/app-lifecycle
		var window = App.Current.Windows.Single();
		window.Deactivated += Window_Deactivated;
		window.Destroying += Window_Deactivated;
		window.Stopped += Window_Stopped;
		window.Resumed += Window_Resumed;
	}

	private void Window_Deactivated(object sender, EventArgs e)
	{
		Debug.WriteLine("Window deactivated or destroying; Saving database");
		db.SaveChanges();
	}

	private void Window_Stopped(object sender, EventArgs e)
	{
		_stoppedDate = DateTimeOffset.Now;
		Debug.WriteLine($"Window was stopped at {_stoppedDate}");
	}

	private async void Window_Resumed(object sender, EventArgs e)
	{
		// Go to current day if user returns after a certain amount of time.
		// But not on Windows, because Resumed can occur without a corresponding Stopped for some ungodly reason.
		if (DeviceInfo.Current.Platform != DevicePlatform.WinUI && DateTimeOffset.Now - _stoppedDate > TimeSpan.FromHours(1))
		{
			Debug.WriteLine($"Switching to current day after user was gone for a while");
			await SetDay(await db.GetDay(DateTime.Now), scrollToTop: true);
		}
	}

	async Task ScrollToTop() => await ScrollManager.ScrollToTopAsync("main-body");

	async Task SetDay(Day day, bool scrollToTop = false)
	{
		_day = day;

		if (scrollToTop)
			await ScrollToTop();

		StateHasChanged();
	}

	async Task PreviousDay()
	{
		await SetDay(await db.GetPreviousDay(_day));
	}

	async Task NextDay()
	{
		await SetDay(await db.GetNextDay(_day));
	}

	async Task OnDaySelected(DateTime? dateTime)
	{
		datePickerMenu.CloseMenu();

		await SetDay(await db.GetDay(dateTime.Value), scrollToTop: true);
	}

	async Task ShowMoodGrid()
	{
		var options = new DialogOptions { FullScreen = true, };

		var result = await DialogService.Show<MoodGridDialog>(options).Result;

		if (result.Data is DateOnly date)
		{
			await SetDay(await db.GetDay(date), scrollToTop: true);
		}
	}

	async Task ManageCategories()
	{
		var options = new DialogOptions { FullScreen = true, };

		await DialogService.Show<ManageCategoriesDialog>(options).Result;

		db.AddMissingDataPoints(_day);
	}

	async Task ManageMedications()
	{
		var options = new DialogOptions { FullScreen = true, };
		var parameters = new DialogParameters<ManageCategoriesDialog> { { x => x.Group, "Medications" } };

		await DialogService.Show<ManageCategoriesDialog>(parameters, options).Result;

		db.AddMissingDataPoints(_day);
	}

	async Task NewNote()
	{
		var note = db.CreateNote(_day);

		await EditTextDialog.ShowDialog(DialogService, note);

		note.Category.DataPoints.Add(note);

		await db.SaveChangesAsync();
	}
}