@namespace JournalApp
@page "/"
@*@inherits LayoutComponentBase*@
@inject ApplicationDbContext db;

<div>
	<Layout>
		<Header Id="app-header">
			<Row>
				<Col Flex=@("none")>
				<div>
					<span style="color: #512BD4;">JournalApp </span>
					<Icon Type="@IconType.Outline.Smile" Theme="@IconThemeType.Twotone" TwotoneColor="white" />
				</div>
				</Col>

				<Col Flex=@("auto") />

				<Col Flex=@("none")>
				<div>
					<Dropdown Placement="@Placement.TopRight">
						<ChildContent>
							<Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Plus" />
						</ChildContent>

						<Overlay>
							<Menu>
								<MenuItem Icon="@IconType.Outline.FileAdd" OnClick="@(() => NewNote())">
									<span> New note</span>
								</MenuItem>
							</Menu>
						</Overlay>
					</Dropdown>
				</div>
				</Col>
			</Row>
		</Header>

		<Content Id="app-body">
			<AntList DataSource="@db.Entries" Grid="grid">
				@if (!@context.IsDeleted)
				{
					<ListItem>
						<EntryView Model="@context" />
					</ListItem>
				}
			</AntList>
		</Content>
	</Layout>
</div>

<AntContainer />

@code {
	ListGridType grid = new()
		{
			Gutter = 8,
			Xs = 1,
			Sm = 2,
			Md = 2,
			Lg = 3,
			Xl = 3,
			Xxl = 3,
		};

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
	}

	void NewNote()
	{
		db.Entries.Add(new JournalEntry { Date = DateTime.Now });
		db.SaveChanges();
	}
}