@namespace JournalApp
@inherits MudComponentBase

<MudDialog @attributes="UserAttributes" Class="@Classname" OnBackdropClick="OnBackdropClick">
    <TitleContent>
        @if (TitleContent is null)
        {
            <MudText Class="title-text">@Title</MudText>
        }
        else
        {
            @TitleContent
        }
    </TitleContent>
    <DialogContent>
        @if (MessageContent is not null)
        {
            @MessageContent
        }
        else
        {
            @MarkupMessage
            @Message
        }
    </DialogContent>
    <DialogActions>
        @if (ShowFeedbackLink)
        {
            <MudLink Href=@Feedback.NewGitHubIssue" Typo="Typo.inherit">Send feedback</MudLink>
        }

        <MudSpacer />

        <div tabindex="-1" @onkeydown="HandleKeyDown">
            <MudFocusTrap DefaultFocus="DefaultFocus.LastChild">
                @if (CancelButton is not null)
                {
                    <CascadingValue Value="@_cancelCallback">
                        @CancelButton
                    </CascadingValue>
                }
                else if (!string.IsNullOrWhiteSpace(CancelText))
                {
                    <MudButton OnClick="OnCancelClicked">@CancelText</MudButton>
                }
                @if (NoButton is not null)
                {
                    <CascadingValue Value="@_noCallback">
                        @NoButton
                    </CascadingValue>
                }
                else if (!string.IsNullOrWhiteSpace(NoText))
                {
                    <MudButton OnClick="OnNoClicked">@NoText</MudButton>
                }
                @if (YesButton is not null)
                {
                    <CascadingValue Value="@_yesCallback">
                        @YesButton
                    </CascadingValue>
                }
                else if (!string.IsNullOrWhiteSpace(YesText))
                {
                    <MudButton OnClick="OnYesClicked" Variant="Variant.Filled" Color="Color.Primary">@YesText</MudButton>
                }
            </MudFocusTrap>
        </div>
    </DialogActions>
</MudDialog>
