@namespace JournalApp
@inject ApplicationDbContext db
@inject IDialogService DialogService

<MudDialog DefaultFocus="DefaultFocus.Element" OnBackdropClick="Submit">
	<TitleContent>
		<div class="page-header">
			<MudIconButton Icon="@Icons.Material.Filled.ArrowBack" OnClick="Submit" />

			@* <MudButton OnClick="@(async () => await ScrollManager.ScrollToTopAsync(".page-header"))" DisableRipple Variant="Variant.Text"> *@
			<MudText Typo="Typo.h6">Manage @(Group == "Medications" ? "medications" : "categories")</MudText>
				@* </MudButton> *@

				<MudSpacer />

				<MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="New" />
			</div>
		</TitleContent>

		<DialogContent>
			<MudStack Class="mh-n12" Style="min-height:100vh;padding-bottom:15em;">
				@foreach (var c in db.Categories.Where(c => c.Group == Group).OrderBy(c => c.Index))
			{
				<div class="d-flex align-center" style="gap:0.1em;">
					<MudIconButton Icon="@Icons.Material.Filled.ArrowUpward" OnClick="async () => await MoveUp(c)" Edge="Edge.Start" Disabled="c.Index <= 1" />

					<MudSwitch @bind-Checked="c.Enabled" Color="Color.Primary" Class="mr-n2" />

					<MudTextField T="string" Label="Name" @bind-Text="c.Name" Disabled="c.ReadOnly" />

					<MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="async () => await Edit(c)" Edge="Edge.End" Disabled="c.ReadOnly" />
				</div>
			}
		</MudStack>
	</DialogContent>
</MudDialog>

@code {
	[CascadingParameter] MudDialogInstance MudDialog { get; set; }

	[Parameter]
	public string Group { get; set; }

	async Task MoveUp(DataPointCategory category)
	{
		var anyAbove = false;
		foreach (var replaced in db.Categories.Where(x => x.Group == Group && x.Index == category.Index - 1))
		{
			anyAbove = true;
			replaced.Index++;
			await db.SaveChangesAsync();
		}

		if (anyAbove)
			category.Index--;

		await db.SaveChangesAsync();
	}

	async Task Edit(DataPointCategory category)
	{
		var parameters = new DialogParameters<EditCategoryDialog> { { x => x.Group, Group }, { x => x.Category, category } };
		var result = await DialogService.Show<EditCategoryDialog>($"Edit {(Group == "Medications" ? "medication" : "category")}", parameters).Result;

		if (result.Canceled)
			return;

		category = (DataPointCategory)result.Data;
		await db.SaveChangesAsync();
	}

	async Task New()
	{
		var parameters = new DialogParameters<EditCategoryDialog> { { x => x.Group, Group } };
		var result = await DialogService.Show<EditCategoryDialog>($"New {(Group == "Medications" ? "medication" : "category")}", parameters).Result;

		if (result.Canceled)
			return;

		var newCategory = (DataPointCategory)result.Data;
		var groupCategories = db.Categories.Where(x => x.Group == Group).ToList();
		if (groupCategories.Any())
			newCategory.Index = groupCategories.Max(x => x.Index) + 1;

		db.Categories.Add(newCategory);
		await db.SaveChangesAsync();
	}

	async Task Submit()
	{
		await db.SaveChangesAsync();
		MudDialog.Close(DialogResult.Ok(true));
	}
}