@namespace JournalApp
@using System.ComponentModel.DataAnnotations
@using System.Text.Json

<Modal Title="Edit Note"
	   Visible="@Visible"
	   OnOk="@HandleOk"
	   OnCancel="@HandleCancel">
	<Form Model="@Model"
		  LabelColSpan="8"
		  WrapperColSpan="16"
		  OnFinish="OnFinish"
		  OnFinishFailed="OnFinishFailed"
		  @ref="@_form">
		<FormItem Label="Today's note">
			<InputTextArea @bind-Value="@context.Text" />
		</FormItem>
	</Form>
</Modal>

@code {
	Form<Note> _form;

	[Parameter]
	public bool Visible { get; set; }

	[Parameter]
	public Note Model { get; set; }

	void HandleOk(MouseEventArgs e)
	{
		_form.Submit();
	}

	void HandleCancel(MouseEventArgs e)
	{
		Visible = false;
	}

	void OnFinish(EditContext editContext)
	{
		Visible = false;
	}

	void OnFinishFailed(EditContext editContext)
	{
		Console.WriteLine($"Failed:{JsonSerializer.Serialize(Model)}");
	}
}