@namespace JournalApp
@inject ILogger<CalendarView> logger

<div class="calendar-view">
    @foreach (var month in GridYear.GridMonths)
    {
        <div class="calendar-month" id="calendar-month-@(month.Month)">
            <div class="calendar-month-header">
                <MudIconButton Icon="@Icons.Material.Filled.ArrowLeft" OnClick="async () => await PreviousMonthClicked.InvokeAsync(month.Month)" title="Previous month" />
                <MudText Typo="Typo.h4">@(month.Name)</MudText>
                <MudIconButton Icon="@Icons.Material.Filled.ArrowRight" OnClick="async () => await NextMonthClicked.InvokeAsync(month.Month)" title="Next month" Disabled="@(month.Month == 12 && month.Year == DateTime.Now.Year)" />
            </div>

            <div class="mood-blocks-month">
                <div class="mood-blocks-week">
                    @foreach (var day in month.DaysOfWeek)
                    {
                        <div class="mood-block-container">
                            <b>@(day.ToString()[0..2])</b>
                        </div>
                    }
                </div>

                @foreach (var row in month.GridDays.Chunk(7))
                {
                    <div class="mood-blocks-week">
                        @foreach (var day in row)
                        {
                            <div class="@(day.Date == OpenToDate ? "mood-block-container mood-block-container-current" : "mood-block-container")" style="background-color: @(GetMoodColor(day.Emoji));">
                                <div class="mood-block" onclick="@(async () => await DayClicked.InvokeAsync(day.Date))">
                                    @if (day.Date != null)
                                    {
                                        <b>@day.Date.Value.Day</b>
                                        <MudSpacer />
                                        @day.Emoji
                                    }
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public IReadOnlyDictionary<string, string> MoodColors { get; set; }

    [Parameter]
    public EventCallback<DateOnly?> DayClicked { get; set; }

    [Parameter]
    public EventCallback<int> PreviousMonthClicked { get; set; }

    [Parameter]
    public EventCallback<int> NextMonthClicked { get; set; }

    [Parameter]
    public DateOnly OpenToDate { get; set; }

    [Parameter]
    public GridYear GridYear { get; set; }

    [Parameter]
    public EventCallback CalendarLoaded { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            logger.LogDebug("Calendar loaded");
            await CalendarLoaded.InvokeAsync();
        }
    }

    string GetMoodColor(string emoji)
    {
        if (string.IsNullOrEmpty(emoji) || !MoodColors.TryGetValue(emoji, out var color))
            return "transparent";
        else
            return color;
    }
}
