@namespace JournalApp
@inject AppDbContext db
@inject ILogger<ManageCategoriesDialog> logger
@inject IDialogService DialogService
@inject PageService PageService

<MudDialog DefaultFocus="DefaultFocus.Element">
	<TitleContent>
		<div class="page-header">
			<MudIconButton Icon="@Icons.Material.Filled.ArrowBack" Title="Submit" OnClick="Submit" />

			<MudText Typo="Typo.h6">@(Group == null ? "Categories" : Group)</MudText>

			<MudSpacer />

			<MudIconButton Icon="@Icons.Material.Filled.Add" Title="New" OnClick="New" />
		</div>
	</TitleContent>

	<DialogContent>
		@if (!Categories.Any())
		{
			<MudText Align="Align.Center">Use the plus button in the top right to add a new one.</MudText>
		}
		else
		{
			@foreach (var c in Categories.OrderBy(c => c.Index))
			{
				<div class="category-view-compact">
					<MudIconButton Icon="@Icons.Material.Filled.ArrowUpward" Title="Move up" OnClick="async () => await MoveUp(c)" Edge="Edge.Start" Disabled="c.Index <= 1" />

					<MudSwitch @bind-Value="c.Enabled" Color="Color.Primary" Style="margin-right: -0.125em;" title="Enabled" />

					<div class="category-view-edit-button">
						<MudButton Variant="Variant.Text" OnClick="async () => await Edit(c)" Disabled="c.ReadOnly" StartIcon="@Icons.Material.Filled.Edit" title="Edit" Size="Size.Large">@c.Name</MudButton>
					</div>
				</div>
			}
		}
	</DialogContent>
</MudDialog>

@code {
	[CascadingParameter] MudDialogInstance MudDialog { get; set; }

	[Parameter]
	public string Group { get; set; }

	public IQueryable<DataPointCategory> Categories => db.Categories.Where(c => c.Group == Group && !c.Deleted);

	protected override void OnInitialized()
	{
		base.OnInitialized();

		PageService.EnteredPage(async () => await Submit());
	}

	async Task MoveUp(DataPointCategory category)
	{
		await db.MoveCategoryUp(category);
		logger.LogInformation($"Moved category up: {category}, {category.Guid}");

		await db.SaveChangesAsync();
	}

	async Task Edit(DataPointCategory category)
	{
		var parameters = new DialogParameters<EditCategoryDialog> { { x => x.Group, Group }, { x => x.Category, category } };
		var result = await DialogService.Show<EditCategoryDialog>(parameters).Result;

		if (result.Canceled)
			return;

		logger.LogInformation($"Edited category: {category}, {category.Guid}");

		if (category.Deleted)
		{
			logger.LogInformation("Category was deleted so now we're fixing indexes.");
			db.FixCategoryIndexes();
		}

		await db.SaveChangesAsync();
	}

	async Task New()
	{
		var parameters = new DialogParameters<EditCategoryDialog> { { x => x.Group, Group } };
		var result = await DialogService.Show<EditCategoryDialog>(parameters).Result;

		if (result.Canceled)
			return;

		var newCategory = (DataPointCategory)result.Data;

		if (string.IsNullOrWhiteSpace(newCategory.Name))
		{
			logger.LogInformation($"Not adding new category with empty name");
		}
		else
		{
			db.AddCategory(newCategory);
			await db.SaveChangesAsync();
			logger.LogInformation($"Added new category <{newCategory}>");
		}
	}

	async Task Submit()
	{
		await db.SaveChangesAsync();

		PageService.CloseDialog(MudDialog, true);
	}
}